<div class="container">
  <h1>New Expense</h1>
    <%= form_with scope: :expense, url: expenses_path, local: true do |form| %>

    <div class="form-group">
      <%= form.label :expense_name %><br>
      <%= form.text_field :expense_name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :amount_due_fixed %><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.number_field :amount_due_fixed, class:"form-control" %>
      </div>
      <%= form.label :amount_due_range_low %><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.number_field :amount_due_range_low, class:"form-control" %>
      </div>
      <%= form.label :amount_due_range_high %><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.number_field :amount_due_range_high, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :next_due_date %><br>
      <%= form.date_field :next_due_date, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :recurrence %><br>
      <%= form.text_field :recurrence, class:"form-control" %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

</div>
